Lectura de xml

In [3]:
import pandas as pd
import xml.etree.ElementTree as etree



#tree = etree.parse("tg-fal17.xml")
tree = etree.parse("agh-ggis-spr17.xml")
root = tree.getroot()

columns_problem = ["Name", "NrDays", "SlotsPerDay", "NrWeeks"]
columns_optimization = ["Time", "Room", "Distribution", "Student"]
columns_rooms = ["RoomId", "Capacity", "PreviousRoomIdList", "TravelTimeValueList", "UnavailableDaysList", "UnavailableStartList", "UnavailableLengthList", "UnavailableWeeksList"]
columns_courses = ["CourseId", "ConfigIdList"]
columns_configs = ["ConfigId", "SubpartIdList"]
columns_subparts = ["SubpartId", "ClassIdList"]
columns_classes = ["ClassId", "ClassLimit", "ClassParent"]
columns_distributions = ["DistributionId", "DistributionType", "DistributionRequired", "DistributionPenalty", "ClassesList"]
columns_students = ["StudentId", "CoursesList"]
columns_relation_class_room = ["ClassId", "RoomId", "RoomPenalty"]
columns_relation_class_time = ["ClassId", "TimeDays", "TimeStart", "TimeLength", "TimeWeeks", "TimePenalty"]

df_problem = pd.DataFrame(columns = columns_problem)
df_optimization = pd.DataFrame(columns = columns_optimization)
df_rooms = pd.DataFrame(columns = columns_rooms)
df_courses = pd.DataFrame(columns = columns_courses)
df_configs = pd.DataFrame(columns = columns_configs)
df_subparts = pd.DataFrame(columns = columns_subparts)
df_classes = pd.DataFrame(columns = columns_classes)
df_distributions = pd.DataFrame(columns = columns_distributions)
df_students = pd.DataFrame(columns = columns_students)
df_relation_class_room = pd.DataFrame(columns = columns_relation_class_room)
df_relation_class_time = pd.DataFrame(columns = columns_relation_class_time)




df_problem = df_problem.append({"Name": root.attrib.get("name"), "NrDays": root.attrib.get("nrDays"), "SlotsPerDay": root.attrib.get("slotsPerDay"), "NrWeeks": root.attrib.get("nrWeeks")}, ignore_index = True)

for node in root:
    if node.tag == "optimization":
        df_optimization = df_optimization.append({"Time": node.attrib.get("time"), "Room": node.attrib.get("room"), "Distribution": node.attrib.get("distribution"), "Student": node.attrib.get("student")}, ignore_index = True)
    
    elif node.tag == "rooms":
        for room in node:
            roomid = room.attrib.get("id")
            cap = room.attrib.get("capacity")
            prevroomlist = []
            valuelist = []
            dayslist = []
            startlist = []
            lengthlist = []
            weekslist = []
            if len(list(child.tag for child in room.iter() if child is not room)) > 0:
                for child in room:
                    if child.tag == "travel":
                        prevroomid = child.attrib.get("room")
                        value = child.attrib.get("value")
                        prevroomlist.append(prevroomid)
                        valuelist.append(value)
                    elif child.tag == "unavailable":
                        days = child.attrib.get("days")
                        start = child.attrib.get("start")
                        length = child.attrib.get("length")
                        weeks = child.attrib.get("weeks")
                        dayslist.append(days)
                        startlist.append(start)
                        lengthlist.append(length)
                        weekslist.append(weeks)
            if len(prevroomlist) == 0:
                prevroomlist = None
            if len(valuelist) == 0:
                valuelist = None
            if len(dayslist) == 0:
                dayslist = None
            if len(startlist) == 0:
                startlist = None
            if len(lengthlist) == 0:
                lengthlist = None
            if len(weekslist) == 0:
                weekslist = None
            df_rooms = df_rooms.append(pd.Series([roomid, cap, prevroomlist, valuelist, dayslist, startlist, lengthlist, weekslist], index = columns_rooms), ignore_index = True)
            
    elif node.tag == "courses":
        for course in node:
            #print(course.tag)
            courseid = course.attrib.get("id")
            configlist = []
            for config in course:
                #print(config.tag)
                configid = config.attrib.get("id")
                configlist.append(configid)
                subpartlist = []
                for subpart in config:
                    #print(subpart.tag)
                    subpartid = subpart.attrib.get("id")
                    subpartlist.append(subpartid)
                    claselist = []
                    for clase in subpart:
                        #print(clase.tag)
                        claseid = clase.attrib.get("id")
                        claselist.append(claseid)
                        claselimit = clase.attrib.get("limit")
                        claseparent = clase.attrib.get("parent") if clase.attrib.get("parent") is not None else None
                        df_classes = df_classes.append(pd.Series([claseid, claselimit, claseparent], index = columns_classes), ignore_index = True)
                        if len(list(child.tag for child in clase.iter() if child is not clase)) > 0:
                            for child in clase:
                                #print(child.tag)
                                if child.tag == "room":
                                    roomid = child.attrib.get("id")
                                    roompenalty = child.attrib.get("penalty")
                                    df_relation_class_room = df_relation_class_room.append(pd.Series([claseid, roomid, roompenalty], index = columns_relation_class_room), ignore_index = True)
                                elif child.tag == "time":
                                    timedays = child.attrib.get("days")
                                    timestart = child.attrib.get("start")
                                    timelength = child.attrib.get("length")
                                    timeweeks = child.attrib.get("weeks")
                                    timepenalty = child.attrib.get("penalty")
                                    df_relation_class_time = df_relation_class_time.append(pd.Series([claseid, timedays, timestart, timelength, timeweeks, timepenalty], index = columns_relation_class_time), ignore_index = True)
                    df_subparts = df_subparts.append(pd.Series([subpartid, claselist], index = columns_subparts), ignore_index = True)
                df_configs = df_configs.append(pd.Series([configid, subpartlist], index = columns_configs), ignore_index = True)
            df_courses = df_courses.append(pd.Series([courseid, configlist], index = columns_courses), ignore_index = True)
                                    
    elif node.tag == "distributions":
        contador = 1
        for distribution in node:
            #print(distribution.tag)
            distribid = contador
            distribtype = distribution.attrib.get("type")
            distribrequired = distribution.attrib.get("required") if distribution.attrib.get("required") is not None else None
            distribpenalty = distribution.attrib.get("penalty") if distribution.attrib.get("penalty") is not None else None
            listaclases = []
            for clase in distribution:
                #print(clase.tag)
                listaclases.append(clase.attrib.get("id"))
            df_distributions = df_distributions.append(pd.Series([distribid, distribtype, distribrequired, distribpenalty, listaclases], index = columns_distributions), ignore_index = True)
            contador += 1
             
    elif node.tag == "students":
        for student in node:
            studentid = student.attrib.get("id")
            listacourses = []
            for course in student:
                listacourses.append(course.attrib.get("id"))
            df_students = df_students.append(pd.Series([studentid, listacourses], index = columns_students), ignore_index = True)
            
            


print("################################################################################################################")
print("DataFrame Problem")
display(df_problem)
print("################################################################################################################")
print("DataFrame Optimization")
display(df_optimization)
print("################################################################################################################")
print("DataFrame Rooms")
display(df_rooms)
print("################################################################################################################")
print("DataFrame Courses")
display(df_courses)
print("################################################################################################################")
print("DataFrame Configs")
display(df_configs)
print("################################################################################################################")
print("DataFrame Subparts")
display(df_subparts)
print("################################################################################################################")
print("DataFrame Classes")
display(df_classes)
print("################################################################################################################")
print("DataFrame Distributions")
display(df_distributions)
print("################################################################################################################")
print("DataFrame Students")
display(df_students)
print("################################################################################################################")
print("DataFrame RelationClassRoom")
display(df_relation_class_room)
print("################################################################################################################")
print("DataFrame RelationClassTime")
display(df_relation_class_time)
print("################################################################################################################")

################################################################################################################
DataFrame Problem

             Name NrDays SlotsPerDay NrWeeks
0  agh-ggis-spr17      7         288      16

################################################################################################################
DataFrame Optimization

  Time Room Distribution Student
0    4    1           15       5

################################################################################################################
DataFrame Rooms

,RoomId,Capacity,PreviousRoomIdList,TravelTimeValueList,UnavailableDaysList,UnavailableStartList,UnavailableLengthList,UnavailableWeeksList
0,1,180,"[3, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16, 28...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0100000, 0010000, 0001000, ...","[0, 0, 246, 0, 0, 246, 0, 246, 246]","[288, 204, 42, 288, 204, 42, 288, 42, 42]","[1111111111111111, 1111111111111111, 111111111..."
1,2,30,"[3, 4, 5, 7, 8, 10, 11, 13, 14, 15, 16, 28, 32...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 138, 0]","[288, 288, 288, 288, 288, 114, 150, 288]","[1111111111111111, 1111111111111111, 111111111..."
2,3,120,"[4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 210, 0, 198]","[288, 288, 288, 288, 288, 96, 78, 96, 90]","[1111111111111111, 1111111111111111, 111111111..."
3,4,240,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0000100, 0000010, 0000010, 0000001, 0000001, ...","[262, 84, 222, 84, 216, 225, 225, 189, 234, 96...","[2, 102, 42, 12, 48, 27, 18, 18, 18, 168, 48, ...","[1111111111111111, 1111111111111111, 111111111..."
4,5,140,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0000100, 0000010, 0000010, 0000001, 0000001, ...","[262, 90, 216, 90, 156, 96, 165, 120, 144, 174...","[2, 96, 48, 36, 108, 27, 18, 21, 21, 88, 72, 1...","[1111111111111111, 1111111111111111, 111111111..."
5,6,15,"[7, 8, 10, 11, 12, 13, 14, 15, 16, 28, 32, 35,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 0, 252, 252]","[36, 36, 36, 36, 288, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
6,7,15,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[0, 0, 0, 162, 0, 0, 0, 0]","[288, 288, 96, 126, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
7,8,15,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 1000000, 1000000, 0100000, 0010000, ...","[0, 138, 180, 0, 0, 0, 0, 0, 0]","[96, 18, 108, 288, 288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
8,9,30,"[10, 11, 12, 13, 14, 15, 16, 28, 32, 35, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 1000000, 0100000, 0010000, 0001000, ...","[0, 156, 0, 0, 0, 138, 0, 180, 0, 0]","[96, 132, 288, 288, 114, 150, 132, 108, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
9,10,90,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 1000000, 0100000, 0100000, 0010000, ...","[0, 120, 0, 144, 0, 150, 0, 0]","[96, 168, 114, 144, 132, 138, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
10,11,90,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[0, 0, 0, 234, 0, 198, 0, 0, 156, 0, 138]","[288, 288, 204, 54, 180, 90, 288, 96, 132, 96,...","[1111111111111111, 1111111111111111, 111111111..."
11,12,45,"[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0001000, ...","[0, 0, 0, 0, 222, 0, 126, 0, 0]","[288, 288, 288, 186, 66, 96, 162, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
12,13,28,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
13,14,70,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
14,15,35,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100]","[0, 0, 0, 0, 0]","[288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
15,16,35,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100]","[0, 0, 0, 0, 0]","[288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
16,17,29,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 0]","[288, 288, 288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
17,18,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 1000000, 0100000, 0100000, 0010000, ...","[0, 204, 0, 204, 0, 204, 0, 204, 0, 204, 0, 25...","[84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 3...","[1111111111111111, 1111111111111111, 111111111..."
18,19,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
19,20,25,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
20,21,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 0, 0, 0]","[36, 36, 36, 36, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
21,22,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
22,23,94,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
23,24,96,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
24,25,28,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
25,26,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
26,27,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[186, 186, 186, 186, 186, 240, 240]","[102, 102, 102, 102, 102, 48, 48]","[1111111111111111, 1111111111111111, 111111111..."
27,28,30,"[29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 4...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
28,29,180,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 246]","[36, 36, 36, 36, 36, 36, 42]","[1111111111111111, 1111111111111111, 111111111..."
29,30,30,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[246, 246, 246, 246, 246, 246, 246]","[42, 42, 42, 42, 42, 42, 42]","[1111111111111111, 1111111111111111, 111111111..."
30,31,30,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
31,32,30,"[33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[252, 252, 176, 252, 252, 252, 252, 252]","[36, 36, 10, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
32,33,15,"[35, 44]","[1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
33,34,30,"[35, 44]","[1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
34,35,35,"[36, 37, 38, 39, 40, 41, 42, 43, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0001000, ...","[0, 0, 0, 0, 192, 216, 0, 0, 198, 0, 198]","[288, 288, 288, 174, 3, 72, 288, 96, 90, 96, 90]","[1111111111111111, 1111111111111111, 111111111..."
35,36,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
36,37,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
37,38,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
38,39,15,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
39,40,42,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[246, 246, 246, 246, 246, 246, 240]","[42, 42, 42, 42, 42, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
40,41,42,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
41,42,90,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 216, 0, 216]","[288, 288, 288, 288, 288, 186, 72, 96, 72]","[1111111111111111, 1111111111111111, 111111111..."
42,43,15,[44],[1],None,None,None,None
43,44,42,None,None,"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 174, 0]","[288, 288, 288, 288, 288, 96, 114, 288]","[1111111111111111, 1111111111111111, 111111111..."

################################################################################################################
DataFrame Courses

    CourseId ConfigIdList
0          1          [1]
1          2          [2]
2          3          [3]
3          4          [4]
4          5          [5]
..       ...          ...
267      268        [268]
268      269        [269]
269      270        [270]
270      271        [271]
271      272        [272]

[272 rows x 2 columns]

################################################################################################################
DataFrame Configs

    ConfigId       SubpartIdList
0          1                 [1]
1          2  [2, 3, 4, 5, 6, 7]
2          3                 [8]
3          4             [9, 10]
4          5            [11, 12]
..       ...                 ...
267      268              [1219]
268      269              [1220]
269      270              [1221]
270      271              [1222]
271      272              [1223]

[272 rows x 2 columns]

################################################################################################################
DataFrame Subparts

     SubpartId ClassIdList
0            1         [1]
1            2         [2]
2            3         [3]
3            4         [4]
4            5         [5]
...        ...         ...
1219      1219      [1836]
1220      1220      [1837]
1221      1221      [1838]
1222      1222      [1839]
1223      1223      [1840]

[1224 rows x 2 columns]

################################################################################################################
DataFrame Classes

     ClassId ClassLimit ClassParent
0          1         15        None
1          2         15        None
2          3         15        None
3          4         15        None
4          5         15        None
...      ...        ...         ...
1847    1836         30        None
1848    1837         30        None
1849    1838         60        None
1850    1839         60        None
1851    1840         30        None

[1852 rows x 3 columns]

################################################################################################################
DataFrame Distributions

,DistributionId,DistributionType,DistributionRequired,DistributionPenalty,ClassesList
0,1,SameAttendees,true,None,"[1, 8, 378, 568, 1808, 1810, 1818, 1820]"
1,2,SameAttendees,true,None,"[9, 240, 241, 242, 378, 728, 729, 730, 731, 73..."
2,3,SameAttendees,true,None,"[10, 11, 12, 13, 14, 15, 507]"
3,4,SameAttendees,true,None,"[16, 17, 18, 185, 378, 1065, 1066, 1067, 1068,..."
4,5,SameAttendees,true,None,"[16, 19, 20, 393, 394, 401, 579, 580, 1040, 10..."
...,...,...,...,...,...
2685,2686,"MaxBreaks(0,6)",None,4,"[152, 153, 154, 155]"
2686,2687,MaxDays(2),None,4,"[484, 485, 486, 487]"
2687,2688,MaxDays(2),None,4,"[488, 489, 490, 491, 492, 493, 494, 495]"
2688,2689,MaxDays(2),None,1,"[1558, 1559, 1560, 1628, 1629, 1630, 1631, 163..."
2689,2690,"MaxBreaks(0,6)",None,4,"[1292, 1294, 1293, 1271, 1272, 1273, 1296, 127..."

################################################################################################################
DataFrame Students

     StudentId                                        CoursesList
0            1                                       [33, 35, 29]
1            2                                       [33, 35, 29]
2            3                                       [33, 35, 29]
3            4                                       [33, 35, 29]
4            5                                       [33, 35, 29]
...        ...                                                ...
2111      2112  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2112      2113  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2113      2114  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2114      2115  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2115      2116  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...

[2116 rows x 2 columns]

################################################################################################################
DataFrame RelationClassRoom

      ClassId RoomId RoomPenalty
0           1     43           0
1           2     43           0
2           3     43           0
3           4     43           0
4           5     43           0
...       ...    ...         ...
12372    1833     32           0
12373    1835     24           0
12374    1838     24           0
12375    1839     24           0
12376    1840     24           0

[12377 rows x 3 columns]

################################################################################################################
DataFrame RelationClassTime

      ClassId TimeDays TimeStart TimeLength         TimeWeeks TimePenalty
0           1  1000000        96         18  0101010010010101           0
1           1  0100000        96         18  0101010010010101           0
2           1  0010000        96         18  0101010010010101           0
3           1  0000100        96         18  0101010010101010           0
4           1  1000000       106         18  0101010010010101           0
...       ...      ...       ...        ...               ...         ...
46662    1836  0100000       176         18  0101010010010101           0
46663    1837  0100000       156         18  1010101000101010           0
46664    1838  0100000       176         18  0101010010010101           0
46665    1839  0100000       156         18  1010101000101010           0
46666    1840  0100000       176         18  1010101000101010           0

[46667 rows x 6 columns]

################################################################################################################

Lectura xml solucion

In [2]:
import pandas as pd
import xml.etree.ElementTree as etree

tree = etree.parse("solution-tg-fal17.xml")
root = tree.getroot()

columns_sol = ["ClassId", "Days", "Start", "Weeks", "Room"]

df_sol = pd.DataFrame(columns = columns_sol)

for clase in root:

SyntaxError: unexpected EOF while parsing (<ipython-input-2-2edd5ad0955c>, line 12)

Analisis de datos

In [6]:
## Duracion en slots de clases:

df_relation_class_time["TimeLength"] = df_relation_class_time["TimeLength"].astype(int)
print("Promedio:")
display(df_relation_class_time["TimeLength"].mean())
print("Min:")
display(df_relation_class_time["TimeLength"].min())
print("Max:")
display(df_relation_class_time["TimeLength"].max())
print("Tiempo de inicio")
display(df_relation_class_time.groupby("TimeStart").count())
print("Count")
display(df_relation_class_time["TimeLength"].value_counts())
print("Mediana:")
display(df_relation_class_time["TimeLength"].median())
print("Cuartiles:")
display(df_relation_class_time["TimeLength"].quantile([0, 0.25, 0.5, 0.75, 1]))
print("Var:")
display(df_relation_class_time["TimeLength"].var())
print("Std:")
display(df_relation_class_time["TimeLength"].std())

Promedio:

22.044592538624723

Min:

9

Max:

144

Slots de tiempo | Cantidad de cursos que duran esos slots
18 909
144 13
96 1
36 22
9 20
27 811
24 33
48 1
72 1
88 3
98 4
90 1
124 4
120 8
82 7
100 11
16 1
70 1
26 1
Total 1852
Tiempo de inicio

           ClassId  TimeDays  TimeLength  TimeWeeks  TimePenalty
TimeStart
102             10        10          10         10           10
105             10        10          10         10           10
106           3042      3042        3042       3042         3042
108             10        10          10         10           10
111             12        12          12         12           12
...            ...       ...         ...        ...          ...
246           1613      1613        1613       1613         1613
256              6         6           6          6            6
93              10        10          10         10           10
96            3138      3138        3138       3138         3138
99              10        10          10         10           10

[64 rows x 5 columns]

9.50, 10.00, 10.41, 11.30, 12.25, 13.00, 13.66, 14.00, 14.91, 15.83, 16.75
counts

18     26008
27     20446
9        101
24        33
36        22
144       13
100       11
120        8
82         7
98         4
124        4
88         3
16         1
48         1
72         1
70         1
26         1
90         1
96         1
Name: TimeLength, dtype: int64

Mediana:

18.0

Cuartiles:

0.00      9.0
0.25     18.0
0.50     18.0
0.75     27.0
1.00    144.0
Name: TimeLength, dtype: float64

Var:

30.098277180969482

Std:

5.486189677815513

In [2]:
## Disponibilidad de salas:

for index, row in df_rooms.iterrows():
    print(row["RoomId"], row["UnavailableDaysList"])
    #if row["UnavailableDaysList"] is None:
    #    print(row["RoomId"], row["UnavailableDaysList"])

1 ['1000000', '0100000', '0100000', '0010000', '0001000', '0001000', '0000100', '0000010', '0000001']
2 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001']
3 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
4 ['0000100', '0000010', '0000010', '0000001', '0000001', '1000000', '1000000', '0100000', '0001000', '0000100', '0000100', '0000100', '0000100', '0000100', '0000010', '0000010', '0000010', '0000010', '0000001', '0000001', '0000001', '0000001', '0000001']
5 ['0000100', '0000010', '0000010', '0000001', '0000001', '0100000', '0010000', '0000100', '0000100', '0000100', '0000100', '0000010', '0000010', '0000010', '0000010', '0000001']
6 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
7 ['1000000', '0100000', '0010000', '0010000', '0001000', '0000100', '0000010', '0000001']
8 ['1000000', '1000000', '1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
9 ['1000000', '1000000', '0100000', '0010000', '0001000', '0001000', '0000100', '0000100', '0000010', '0000001']
10 ['1000000', '1000000', '0100000', '0100000', '0010000', '0010000', '0001000', '0000100']
11 ['1000000', '0100000', '0010000', '0010000', '0001000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
12 ['1000000', '0100000', '0010000', '0001000', '0001000', '0000100', '0000100', '0000010', '0000001']
13 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
14 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
15 ['1000000', '0100000', '0010000', '0001000', '0000100']
16 ['1000000', '0100000', '0010000', '0001000', '0000100']
17 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
18 ['1000000', '1000000', '0100000', '0100000', '0010000', '0010000', '0001000', '0001000', '0000100', '0000100', '0000010', '0000010', '0000001', '0000001']
19 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
20 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
21 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
22 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
23 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
24 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
25 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
26 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
27 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
28 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
29 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
30 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
31 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
32 ['1000000', '0100000', '0010000', '0010000', '0001000', '0000100', '0000010', '0000001']
33 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
34 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
35 ['1000000', '0100000', '0010000', '0001000', '0001000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
36 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
37 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
38 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
39 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
40 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
41 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
42 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
43 None
44 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001']

In [8]:
## Variabilidad de clases:

#for index, row in df_relation_class_time.iterrows():
#    print(row["ClassId"], row["TimeDays"])
display(df_relation_class_time["ClassId"].value_counts())

400     520
628     160
593     160
629     160
311     128
       ...
168       1
726       1
1815      1
365       1
1777      1
Name: ClassId, Length: 1852, dtype: int64

In [ ]:
#################### Nueva Parte versión Pau #######################
print("Slots de tiempo | Cantidad de cursos que duran esos slots")
dic={}
list=[]
for index, row in df_relation_class_time.iterrows():
    #print(row["ClassId"], row["TimeLength"])
    if row["TimeLength"] not in dic.keys():
        dic[row["TimeLength"]] = [0,[]]
    if row["ClassId"] not in dic[row["TimeLength"]][1]:
        #print(row["TimeLength"],row["ClassId"], dic[row["TimeLength"]][1])
        dic[row["TimeLength"]][0]+=1
        dic[row["TimeLength"]][1].append(row["ClassId"])
c= 0
for i in dic:
    print(i, dic[i][0])
    c += dic[i][0]
print("Total",c)

In [11]:
#Agrupar capacidad de salas


print("Capacidad | Cantidad de Salas")
display(df_rooms.groupby("Capacity").count()["RoomId"])

Capacidad | Cantidad de Salas

Capacity
120     1
140     1
15      9
180     2
240     1
25      1
28      2
29      1
30     13
35      3
42      3
45      1
70      1
90      3
94      1
96      1
Name: RoomId, dtype: int64

In [98]:
#Agrupar capacidad de clases

print("Límite de las clases | Cantidad de clases con el límite")
display(df_classes.groupby("ClassLimit").count()["ClassId"])

Límite de las clases | Cantidad de clases con el límite

ClassLimit
10     495
100     12
20      70
24      45
35      28
56      33
95      28
Name: ClassId, dtype: int64

In [ ]:
#Clases en horario similar -3 slots- de margen
#Tiempo inicio | Frecuencia de clases en ese horario | Id de clase
dicct = {}
df_relation_class_time["TimeStart"] = df_relation_class_time["TimeStart"].astype(int)
for index, row in df_relation_class_time.sort_values('TimeStart').iterrows():
    #print(row["ClassId"], row["TimeStart"])
    x1 = row["TimeStart"]-1
    x2 = row["TimeStart"]-2
    x3 = row["TimeStart"]-3
    if x1 in dicct.keys():
        if row["ClassId"] not in dicct[x1][1]:
            dicct[x1][1].append(row["ClassId"])
            dicct[x1][0] += 1
    elif x2 in dicct.keys():
        if row["ClassId"] not in dicct[x2][1]:
            dicct[x2][1].append(row["ClassId"])
            dicct[x2][0] += 1
    elif x3 in dicct.keys():
        if row["ClassId"] not in dicct[x3][1]:
            dicct[x3][1].append(row["ClassId"])
            dicct[x3][0] += 1
    elif row["TimeStart"] not in dicct.keys():
        dicct[row["TimeStart"]] = [0,[]]
        dicct[row["TimeStart"]][1].append(row["ClassId"])
        dicct[row["TimeStart"]][0] += 1
    elif row["TimeStart"] in dicct.keys() and row["ClassId"] not in dicct[row["TimeStart"]][1]:
        dicct[row["TimeStart"]][1].append(row["ClassId"])
        dicct[row["TimeStart"]][0] += 1

print("Tiempo inicio | Frecuencia de clases en ese horario | Id de clase")
for i in dicct:
    print(i, dicct[i][0])

In [ ]:
#Cantidad de clases en una subparte
c = 0
dic = {}
for index, row in df_subparts.iterrows():
    #print(row["SubpartId"], row["ClassIdList"])
    if len(row["ClassIdList"]) not in dic.keys():
        dic[len(row["ClassIdList"])] = [1, [row["SubpartId"]]]
    else:
        dic[len(row["ClassIdList"])][1].append(row["SubpartId"])
        dic[len(row["ClassIdList"])][0]+=1


print("Cantidad de clases en una subparte | Cantidad de veces que se repite en las subpartes | Lista de clases")
for i in dic:
    print(i, dic[i])

In [ ]:
#Patrones de salas
diccr = {}
dic2 = {}
for index, row in df_relation_class_room.iterrows():
    #print(row["ClassId"], row["RoomId"])
    if row["ClassId"] not in diccr.keys():
        diccr[row["ClassId"]] = []
    diccr[row["ClassId"]].append(row["RoomId"])
#print(diccr)

for i in diccr:
    #print(i, diccr[i])
    tupla = tuple(diccr[i])
    if tupla not in dic2.keys():
        dic2[tupla] = []
    dic2[tupla].append(i)
#print(dic2)

c = 0

print("Salas | Preferencias de clases por la sala")
for i in dic2:
    print(i, dic2[i])
    c+=1
#print(c)