Lectura de xml

In [3]:
import pandas as pd
import xml.etree.ElementTree as etree



#tree = etree.parse("tg-fal17.xml")
tree = etree.parse("agh-ggis-spr17.xml")
root = tree.getroot()

columns_problem = ["Name", "NrDays", "SlotsPerDay", "NrWeeks"]
columns_optimization = ["Time", "Room", "Distribution", "Student"]
columns_rooms = ["RoomId", "Capacity", "PreviousRoomIdList", "TravelTimeValueList", "UnavailableDaysList", "UnavailableStartList", "UnavailableLengthList", "UnavailableWeeksList"]
columns_courses = ["CourseId", "ConfigIdList"]
columns_configs = ["ConfigId", "SubpartIdList"]
columns_subparts = ["SubpartId", "ClassIdList"]
columns_classes = ["ClassId", "ClassLimit", "ClassParent"]
columns_distributions = ["DistributionId", "DistributionType", "DistributionRequired", "DistributionPenalty", "ClassesList"]
columns_students = ["StudentId", "CoursesList"]
columns_relation_class_room = ["ClassId", "RoomId", "RoomPenalty"]
columns_relation_class_time = ["ClassId", "TimeDays", "TimeStart", "TimeLength", "TimeWeeks", "TimePenalty"]

df_problem = pd.DataFrame(columns = columns_problem)
df_optimization = pd.DataFrame(columns = columns_optimization)
df_rooms = pd.DataFrame(columns = columns_rooms)
df_courses = pd.DataFrame(columns = columns_courses)
df_configs = pd.DataFrame(columns = columns_configs)
df_subparts = pd.DataFrame(columns = columns_subparts)
df_classes = pd.DataFrame(columns = columns_classes)
df_distributions = pd.DataFrame(columns = columns_distributions)
df_students = pd.DataFrame(columns = columns_students)
df_relation_class_room = pd.DataFrame(columns = columns_relation_class_room)
df_relation_class_time = pd.DataFrame(columns = columns_relation_class_time)




df_problem = df_problem.append({"Name": root.attrib.get("name"), "NrDays": root.attrib.get("nrDays"), "SlotsPerDay": root.attrib.get("slotsPerDay"), "NrWeeks": root.attrib.get("nrWeeks")}, ignore_index = True)

for node in root:
    if node.tag == "optimization":
        df_optimization = df_optimization.append({"Time": node.attrib.get("time"), "Room": node.attrib.get("room"), "Distribution": node.attrib.get("distribution"), "Student": node.attrib.get("student")}, ignore_index = True)
    
    elif node.tag == "rooms":
        for room in node:
            roomid = room.attrib.get("id")
            cap = room.attrib.get("capacity")
            prevroomlist = []
            valuelist = []
            dayslist = []
            startlist = []
            lengthlist = []
            weekslist = []
            if len(list(child.tag for child in room.iter() if child is not room)) > 0:
                for child in room:
                    if child.tag == "travel":
                        prevroomid = child.attrib.get("room")
                        value = child.attrib.get("value")
                        prevroomlist.append(prevroomid)
                        valuelist.append(value)
                    elif child.tag == "unavailable":
                        days = child.attrib.get("days")
                        start = child.attrib.get("start")
                        length = child.attrib.get("length")
                        weeks = child.attrib.get("weeks")
                        dayslist.append(days)
                        startlist.append(start)
                        lengthlist.append(length)
                        weekslist.append(weeks)
            if len(prevroomlist) == 0:
                prevroomlist = None
            if len(valuelist) == 0:
                valuelist = None
            if len(dayslist) == 0:
                dayslist = None
            if len(startlist) == 0:
                startlist = None
            if len(lengthlist) == 0:
                lengthlist = None
            if len(weekslist) == 0:
                weekslist = None
            df_rooms = df_rooms.append(pd.Series([roomid, cap, prevroomlist, valuelist, dayslist, startlist, lengthlist, weekslist], index = columns_rooms), ignore_index = True)
            
    elif node.tag == "courses":
        for course in node:
            #print(course.tag)
            courseid = course.attrib.get("id")
            configlist = []
            for config in course:
                #print(config.tag)
                configid = config.attrib.get("id")
                configlist.append(configid)
                subpartlist = []
                for subpart in config:
                    #print(subpart.tag)
                    subpartid = subpart.attrib.get("id")
                    subpartlist.append(subpartid)
                    claselist = []
                    for clase in subpart:
                        #print(clase.tag)
                        claseid = clase.attrib.get("id")
                        claselist.append(claseid)
                        claselimit = clase.attrib.get("limit")
                        claseparent = clase.attrib.get("parent") if clase.attrib.get("parent") is not None else None
                        df_classes = df_classes.append(pd.Series([claseid, claselimit, claseparent], index = columns_classes), ignore_index = True)
                        if len(list(child.tag for child in clase.iter() if child is not clase)) > 0:
                            for child in clase:
                                #print(child.tag)
                                if child.tag == "room":
                                    roomid = child.attrib.get("id")
                                    roompenalty = child.attrib.get("penalty")
                                    df_relation_class_room = df_relation_class_room.append(pd.Series([claseid, roomid, roompenalty], index = columns_relation_class_room), ignore_index = True)
                                elif child.tag == "time":
                                    timedays = child.attrib.get("days")
                                    timestart = child.attrib.get("start")
                                    timelength = child.attrib.get("length")
                                    timeweeks = child.attrib.get("weeks")
                                    timepenalty = child.attrib.get("penalty")
                                    df_relation_class_time = df_relation_class_time.append(pd.Series([claseid, timedays, timestart, timelength, timeweeks, timepenalty], index = columns_relation_class_time), ignore_index = True)
                    df_subparts = df_subparts.append(pd.Series([subpartid, claselist], index = columns_subparts), ignore_index = True)
                df_configs = df_configs.append(pd.Series([configid, subpartlist], index = columns_configs), ignore_index = True)
            df_courses = df_courses.append(pd.Series([courseid, configlist], index = columns_courses), ignore_index = True)
                                    
    elif node.tag == "distributions":
        contador = 1
        for distribution in node:
            #print(distribution.tag)
            distribid = contador
            distribtype = distribution.attrib.get("type")
            distribrequired = distribution.attrib.get("required") if distribution.attrib.get("required") is not None else None
            distribpenalty = distribution.attrib.get("penalty") if distribution.attrib.get("penalty") is not None else None
            listaclases = []
            for clase in distribution:
                #print(clase.tag)
                listaclases.append(clase.attrib.get("id"))
            df_distributions = df_distributions.append(pd.Series([distribid, distribtype, distribrequired, distribpenalty, listaclases], index = columns_distributions), ignore_index = True)
            contador += 1
             
    elif node.tag == "students":
        for student in node:
            studentid = student.attrib.get("id")
            listacourses = []
            for course in student:
                listacourses.append(course.attrib.get("id"))
            df_students = df_students.append(pd.Series([studentid, listacourses], index = columns_students), ignore_index = True)
            
            


print("################################################################################################################")
print("DataFrame Problem")
display(df_problem)
print("################################################################################################################")
print("DataFrame Optimization")
display(df_optimization)
print("################################################################################################################")
print("DataFrame Rooms")
display(df_rooms)
print("################################################################################################################")
print("DataFrame Courses")
display(df_courses)
print("################################################################################################################")
print("DataFrame Configs")
display(df_configs)
print("################################################################################################################")
print("DataFrame Subparts")
display(df_subparts)
print("################################################################################################################")
print("DataFrame Classes")
display(df_classes)
print("################################################################################################################")
print("DataFrame Distributions")
display(df_distributions)
print("################################################################################################################")
print("DataFrame Students")
display(df_students)
print("################################################################################################################")
print("DataFrame RelationClassRoom")
display(df_relation_class_room)
print("################################################################################################################")
print("DataFrame RelationClassTime")
display(df_relation_class_time)
print("################################################################################################################")

################################################################################################################
DataFrame Problem

             Name NrDays SlotsPerDay NrWeeks
0  agh-ggis-spr17      7         288      16

################################################################################################################
DataFrame Optimization

  Time Room Distribution Student
0    4    1           15       5

################################################################################################################
DataFrame Rooms

,RoomId,Capacity,PreviousRoomIdList,TravelTimeValueList,UnavailableDaysList,UnavailableStartList,UnavailableLengthList,UnavailableWeeksList
0,1,180,"[3, 4, 5, 7, 8, 10, 11, 12, 13, 14, 15, 16, 28...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0100000, 0010000, 0001000, ...","[0, 0, 246, 0, 0, 246, 0, 246, 246]","[288, 204, 42, 288, 204, 42, 288, 42, 42]","[1111111111111111, 1111111111111111, 111111111..."
1,2,30,"[3, 4, 5, 7, 8, 10, 11, 13, 14, 15, 16, 28, 32...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 138, 0]","[288, 288, 288, 288, 288, 114, 150, 288]","[1111111111111111, 1111111111111111, 111111111..."
2,3,120,"[4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 210, 0, 198]","[288, 288, 288, 288, 288, 96, 78, 96, 90]","[1111111111111111, 1111111111111111, 111111111..."
3,4,240,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0000100, 0000010, 0000010, 0000001, 0000001, ...","[262, 84, 222, 84, 216, 225, 225, 189, 234, 96...","[2, 102, 42, 12, 48, 27, 18, 18, 18, 168, 48, ...","[1111111111111111, 1111111111111111, 111111111..."
4,5,140,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0000100, 0000010, 0000010, 0000001, 0000001, ...","[262, 90, 216, 90, 156, 96, 165, 120, 144, 174...","[2, 96, 48, 36, 108, 27, 18, 21, 21, 88, 72, 1...","[1111111111111111, 1111111111111111, 111111111..."
5,6,15,"[7, 8, 10, 11, 12, 13, 14, 15, 16, 28, 32, 35,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 0, 252, 252]","[36, 36, 36, 36, 288, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
6,7,15,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[0, 0, 0, 162, 0, 0, 0, 0]","[288, 288, 96, 126, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
7,8,15,"[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 1000000, 1000000, 0100000, 0010000, ...","[0, 138, 180, 0, 0, 0, 0, 0, 0]","[96, 18, 108, 288, 288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
8,9,30,"[10, 11, 12, 13, 14, 15, 16, 28, 32, 35, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 1000000, 0100000, 0010000, 0001000, ...","[0, 156, 0, 0, 0, 138, 0, 180, 0, 0]","[96, 132, 288, 288, 114, 150, 132, 108, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
9,10,90,"[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 1000000, 0100000, 0100000, 0010000, ...","[0, 120, 0, 144, 0, 150, 0, 0]","[96, 168, 114, 144, 132, 138, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
10,11,90,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[0, 0, 0, 234, 0, 198, 0, 0, 156, 0, 138]","[288, 288, 204, 54, 180, 90, 288, 96, 132, 96,...","[1111111111111111, 1111111111111111, 111111111..."
11,12,45,"[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0001000, ...","[0, 0, 0, 0, 222, 0, 126, 0, 0]","[288, 288, 288, 186, 66, 96, 162, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
12,13,28,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
13,14,70,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
14,15,35,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100]","[0, 0, 0, 0, 0]","[288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
15,16,35,"[17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1000000, 0100000, 0010000, 0001000, 0000100]","[0, 0, 0, 0, 0]","[288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
16,17,29,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 0]","[288, 288, 288, 288, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
17,18,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 1000000, 0100000, 0100000, 0010000, ...","[0, 204, 0, 204, 0, 204, 0, 204, 0, 204, 0, 25...","[84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 84, 3...","[1111111111111111, 1111111111111111, 111111111..."
18,19,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
19,20,25,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
20,21,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 0, 0, 0]","[36, 36, 36, 36, 288, 288, 288]","[1111111111111111, 1111111111111111, 111111111..."
21,22,30,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
22,23,94,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
23,24,96,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
24,25,28,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
25,26,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
26,27,15,"[28, 32, 35, 44]","[1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[186, 186, 186, 186, 186, 240, 240]","[102, 102, 102, 102, 102, 48, 48]","[1111111111111111, 1111111111111111, 111111111..."
27,28,30,"[29, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 4...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
28,29,180,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 246]","[36, 36, 36, 36, 36, 36, 42]","[1111111111111111, 1111111111111111, 111111111..."
29,30,30,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[246, 246, 246, 246, 246, 246, 246]","[42, 42, 42, 42, 42, 42, 42]","[1111111111111111, 1111111111111111, 111111111..."
30,31,30,"[32, 35, 44]","[1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
31,32,30,"[33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]","[1000000, 0100000, 0010000, 0010000, 0001000, ...","[252, 252, 176, 252, 252, 252, 252, 252]","[36, 36, 10, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
32,33,15,"[35, 44]","[1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
33,34,30,"[35, 44]","[1, 1]","[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
34,35,35,"[36, 37, 38, 39, 40, 41, 42, 43, 44]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[1000000, 0100000, 0010000, 0001000, 0001000, ...","[0, 0, 0, 0, 192, 216, 0, 0, 198, 0, 198]","[288, 288, 288, 174, 3, 72, 288, 96, 90, 96, 90]","[1111111111111111, 1111111111111111, 111111111..."
35,36,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
36,37,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
37,38,30,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
38,39,15,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 252, 252]","[36, 36, 36, 36, 36, 36, 36]","[1111111111111111, 1111111111111111, 111111111..."
39,40,42,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[246, 246, 246, 246, 246, 246, 240]","[42, 42, 42, 42, 42, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
40,41,42,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[252, 252, 252, 252, 252, 246, 240]","[36, 36, 36, 36, 36, 42, 48]","[1111111111111111, 1111111111111111, 111111111..."
41,42,90,[44],[1],"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 216, 0, 216]","[288, 288, 288, 288, 288, 186, 72, 96, 72]","[1111111111111111, 1111111111111111, 111111111..."
42,43,15,[44],[1],None,None,None,None
43,44,42,None,None,"[1000000, 0100000, 0010000, 0001000, 0000100, ...","[0, 0, 0, 0, 0, 0, 174, 0]","[288, 288, 288, 288, 288, 96, 114, 288]","[1111111111111111, 1111111111111111, 111111111..."

################################################################################################################
DataFrame Courses

    CourseId ConfigIdList
0          1          [1]
1          2          [2]
2          3          [3]
3          4          [4]
4          5          [5]
..       ...          ...
267      268        [268]
268      269        [269]
269      270        [270]
270      271        [271]
271      272        [272]

[272 rows x 2 columns]

################################################################################################################
DataFrame Configs

    ConfigId       SubpartIdList
0          1                 [1]
1          2  [2, 3, 4, 5, 6, 7]
2          3                 [8]
3          4             [9, 10]
4          5            [11, 12]
..       ...                 ...
267      268              [1219]
268      269              [1220]
269      270              [1221]
270      271              [1222]
271      272              [1223]

[272 rows x 2 columns]

################################################################################################################
DataFrame Subparts

     SubpartId ClassIdList
0            1         [1]
1            2         [2]
2            3         [3]
3            4         [4]
4            5         [5]
...        ...         ...
1219      1219      [1836]
1220      1220      [1837]
1221      1221      [1838]
1222      1222      [1839]
1223      1223      [1840]

[1224 rows x 2 columns]

################################################################################################################
DataFrame Classes

     ClassId ClassLimit ClassParent
0          1         15        None
1          2         15        None
2          3         15        None
3          4         15        None
4          5         15        None
...      ...        ...         ...
1847    1836         30        None
1848    1837         30        None
1849    1838         60        None
1850    1839         60        None
1851    1840         30        None

[1852 rows x 3 columns]

################################################################################################################
DataFrame Distributions

,DistributionId,DistributionType,DistributionRequired,DistributionPenalty,ClassesList
0,1,SameAttendees,true,None,"[1, 8, 378, 568, 1808, 1810, 1818, 1820]"
1,2,SameAttendees,true,None,"[9, 240, 241, 242, 378, 728, 729, 730, 731, 73..."
2,3,SameAttendees,true,None,"[10, 11, 12, 13, 14, 15, 507]"
3,4,SameAttendees,true,None,"[16, 17, 18, 185, 378, 1065, 1066, 1067, 1068,..."
4,5,SameAttendees,true,None,"[16, 19, 20, 393, 394, 401, 579, 580, 1040, 10..."
...,...,...,...,...,...
2685,2686,"MaxBreaks(0,6)",None,4,"[152, 153, 154, 155]"
2686,2687,MaxDays(2),None,4,"[484, 485, 486, 487]"
2687,2688,MaxDays(2),None,4,"[488, 489, 490, 491, 492, 493, 494, 495]"
2688,2689,MaxDays(2),None,1,"[1558, 1559, 1560, 1628, 1629, 1630, 1631, 163..."
2689,2690,"MaxBreaks(0,6)",None,4,"[1292, 1294, 1293, 1271, 1272, 1273, 1296, 127..."

################################################################################################################
DataFrame Students

     StudentId                                        CoursesList
0            1                                       [33, 35, 29]
1            2                                       [33, 35, 29]
2            3                                       [33, 35, 29]
3            4                                       [33, 35, 29]
4            5                                       [33, 35, 29]
...        ...                                                ...
2111      2112  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2112      2113  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2113      2114  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2114      2115  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...
2115      2116  [128, 129, 131, 133, 135, 137, 138, 124, 126, ...

[2116 rows x 2 columns]

################################################################################################################
DataFrame RelationClassRoom

      ClassId RoomId RoomPenalty
0           1     43           0
1           2     43           0
2           3     43           0
3           4     43           0
4           5     43           0
...       ...    ...         ...
12372    1833     32           0
12373    1835     24           0
12374    1838     24           0
12375    1839     24           0
12376    1840     24           0

[12377 rows x 3 columns]

################################################################################################################
DataFrame RelationClassTime

      ClassId TimeDays TimeStart TimeLength         TimeWeeks TimePenalty
0           1  1000000        96         18  0101010010010101           0
1           1  0100000        96         18  0101010010010101           0
2           1  0010000        96         18  0101010010010101           0
3           1  0000100        96         18  0101010010101010           0
4           1  1000000       106         18  0101010010010101           0
...       ...      ...       ...        ...               ...         ...
46662    1836  0100000       176         18  0101010010010101           0
46663    1837  0100000       156         18  1010101000101010           0
46664    1838  0100000       176         18  0101010010010101           0
46665    1839  0100000       156         18  1010101000101010           0
46666    1840  0100000       176         18  1010101000101010           0

[46667 rows x 6 columns]

################################################################################################################

Lectura xml solucion

In [159]:
dicct = {}
df_relation_class_time["TimeStart"] = df_relation_class_time["TimeStart"].astype(int)
for index, row in df_relation_class_time.sort_values('TimeStart').iterrows():
    #print(row["ClassId"], row["TimeStart"])
    x1 = row["TimeStart"]-1
    x2 = row["TimeStart"]-2
    x3 = row["TimeStart"]-3
    if x1 in dicct.keys():
        if row["ClassId"] not in dicct[x1][1]:
            dicct[x1][1].append(row["ClassId"])
            dicct[x1][0] += 1
    elif x2 in dicct.keys():
        if row["ClassId"] not in dicct[x2][1]:
            dicct[x2][1].append(row["ClassId"])
            dicct[x2][0] += 1
    elif x3 in dicct.keys():
        if row["ClassId"] not in dicct[x3][1]:
            dicct[x3][1].append(row["ClassId"])
            dicct[x3][0] += 1
    elif row["TimeStart"] not in dicct.keys():
        dicct[row["TimeStart"]] = [0,[]]
        dicct[row["TimeStart"]][1].append(row["ClassId"])
        dicct[row["TimeStart"]][0] += 1
    elif row["TimeStart"] in dicct.keys() and row["ClassId"] not in dicct[row["TimeStart"]][1]:
        dicct[row["TimeStart"]][1].append(row["ClassId"])
        dicct[row["TimeStart"]][0] += 1

print("Tiempo inicio | Frecuencia de clases en ese horario | Id de clase")
for i in dicct:
    print(i, dicct[i][0])

Tiempo inicio | Frecuencia de clases en ese horario | Id de clase
93 1446
99 1
105 1349
111 2
116 1483
120 1
126 1440
132 7
136 1471
141 6
146 1437
150 9
156 1472
162 1
166 1362
171 5
176 1369
180 1
186 1327
190 2
195 1326
201 23
206 1242
210 2
216 1239
222 1
226 1203
231 1
236 1213
240 1
246 610
256 3

In [68]:
diccr = {}
dic2 = {}
for index, row in df_relation_class_room.iterrows():
    #print(row["ClassId"], row["RoomId"])
    if row["ClassId"] not in diccr.keys():
        diccr[row["ClassId"]] = []
    diccr[row["ClassId"]].append(row["RoomId"])
#print(diccr)

for i in diccr:
    #print(i, diccr[i])
    tupla = tuple(diccr[i])
    if tupla not in dic2.keys():
        dic2[tupla] = []
    dic2[tupla].append(i)
#print(dic2)


################Patrones de Salas################
c = 0

print("Salas | Preferencias de clases por la sala")
for i in dic2:
    print(i, dic2[i])
    c+=1
#print(c)

Salas | Preferencias de clases por la sala
('43',) ['1', '2', '3', '4', '5', '6', '7', '8']
('29',) ['9', '21', '34', '61', '90', '101', '117', '124', '125', '144', '145', '156', '182', '208', '379', '380', '381', '382', '383', '384', '385', '726', '1803', '1804', '1805', '1806', '1807', '1808', '1813', '1814', '1815', '1816', '1817', '1818']
('19', '38', '18', '36', '40', '41', '28', '32') ['10', '11', '12', '13', '14', '15', '189', '217', '313', '324']
('10', '23', '24', '29', '42') ['16', '77', '163', '402', '408', '414', '457', '465', '503', '508']
('34',) ['17', '18', '19', '20', '82', '83', '84', '85', '186', '187', '190', '192', '196', '197', '198', '199', '202', '579', '580', '581', '582', '628', '629', '1071', '1072', '1073', '1074', '1075', '1076', '1077', '1078', '1079', '1080', '1081', '1082', '1083', '1084', '1085', '1086', '1087', '1088', '1089', '1090', '1091', '1092', '1093', '1094', '1095', '1099', '1100', '1101', '1102', '1103', '1104', '1105', '1106']
('25', '18', '36') ['22', '23', '24', '25', '26', '27', '28', '30', '31', '32', '33', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44']
('25', '18', '36', '21') ['29']
('23', '24', '29') ['45', '81', '151', '188', '203', '206', '418', '424', '430', '443', '448', '507', '512', '557', '772', '773', '774', '775', '776', '777']
('19', '38', '25', '18', '36', '40', '41') ['46', '47', '48', '49', '50', '845', '846']
('21',) ['51', '52', '53', '54', '55', '56', '57', '58', '59', '60']
('22', '37', '20') ['62', '63', '64', '65', '66', '102', '103', '104', '105', '106', '251', '252', '458', '459', '460', '577', '578', '585', '652', '1569', '1570', '1571', '1572', '1573', '1574', '1575', '1576', '1577', '1578', '1579', '1580', '1581', '1582', '1583', '1584', '1585', '1586']
('22', '37', '20', '31', '30', '34') ['67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '183', '184', '209', '210', '211', '212', '214', '215', '246', '247', '269', '270', '310', '311', '497', '498', '499', '505', '506', '673', '674', '675', '676', '677', '678', '679', '680', '681', '682', '683', '684', '843', '844', '853', '854', '855', '856', '857', '858', '859', '860', '861', '862', '863', '864', '865', '866', '867', '868', '869', '870', '871', '872', '873', '874', '875', '876', '904', '905', '906', '907', '908', '909', '910', '911', '912', '913', '914', '915', '937', '938', '939', '940', '941', '942', '943', '944', '945', '946', '947', '948', '981', '982', '983', '984', '985', '986', '987', '988', '989', '990', '991', '992', '1022', '1023', '1024', '1025', '1026', '1027', '1028', '1029', '1030', '1031', '1032', '1033', '1040', '1041', '1042', '1043', '1044', '1045', '1046', '1047', '1048', '1049', '1050', '1051', '1052', '1053', '1054', '1055', '1056', '1057', '1058', '1059', '1060', '1061', '1062', '1063', '1110', '1111', '1112', '1113', '1114', '1115', '1116', '1117', '1118', '1119', '1120', '1121', '1271', '1272', '1273', '1274', '1275', '1276', '1277', '1278', '1279', '1280', '1281', '1282', '1316', '1317', '1318', '1319', '1320', '1321', '1322', '1323', '1324', '1599', '1600', '1601', '1602', '1603', '1604']
('22', '37') ['78', '79', '80', '164', '165', '166', '286', '297']
('24', '38', '36', '40', '41') ['118', '119']
('38', '36', '40', '41') ['120', '122', '473']
('9', '10', '23', '19', '24', '22', '38', '29', '18', '17', '36', '37', '40', '41', '31', '30', '34', '42', '28', '14', '32', '2') ['121', '227', '262', '263', '264', '319', '323', '330', '343', '344', '569', '570', '621']
('28', '14') ['123']
('26',) ['126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '425', '426', '427', '428', '429', '544', '545', '546', '547', '601', '602', '1403', '1404', '1405', '1406', '1407', '1408', '1409', '1410', '1411', '1412', '1413', '1414', '1415', '1416', '1417', '1418', '1419', '1420']
('23', '19', '24', '38', '40', '41') ['138', '139', '140', '141', '142', '143', '205', '228', '231', '232', '250', '298', '572', '610', '622', '623', '646']
('19', '38', '40', '41', '28', '13') ['146', '147', '148', '149', '150']
('37',) ['152', '153', '154', '155', '358', '359', '360', '361', '362', '376', '627', '1788', '1789', '1790', '1791', '1792', '1793', '1794', '1795', '1796', '1797', '1798']
('22', '37', '31', '30', '34') ['157', '158', '159', '160', '161', '207', '234', '244', '261', '274', '281', '282', '299', '300', '301', '303', '335', '551', '552', '607', '686', '687', '688', '689', '690', '691', '692', '693', '694', '695', '696', '697', '698', '699', '700', '701', '880', '881', '882', '883', '884', '885', '1257', '1286', '1287', '1288', '1565', '1566', '1567', '1568']
('31', '30') ['162']
('23', '19', '24', '38', '40', '41', '28', '14') ['179', '204']
('39',) ['180', '181', '393', '394', '395', '396', '397', '399', '400', '401']
('23', '19', '24', '38', '18', '36', '40', '41', '28', '14', '32') ['185', '243', '266', '267']
('23', '19', '24', '38', '29', '40', '41', '28', '14') ['191', '218', '260', '285', '558', '559', '590', '591', '613', '637', '1179', '1180', '1181', '1182', '1183', '1184', '1212', '1213', '1214', '1215', '1216', '1217', '1226', '1227', '1228', '1229', '1230', '1231', '1244', '1245', '1246', '1247', '1248', '1249', '1259', '1260', '1261', '1265', '1266', '1267', '1268', '1269', '1270', '1283', '1284', '1285', '1334', '1335', '1336', '1337', '1338', '1339', '1617', '1618', '1619', '1620', '1621', '1622', '1623', '1624', '1625', '1626', '1646', '1647', '1648', '1649', '1650', '1651', '1652', '1653', '1654', '1655', '1663', '1664', '1665', '1666', '1667', '1668', '1669']
('19', '38', '40', '41', '28') ['195', '200', '254', '255']
('23', '19', '24', '38', '29', '40', '41') ['201', '287', '291', '296', '314', '318', '419', '420', '421', '566', '567', '877', '878', '879', '1015', '1016', '1017', '1018', '1325', '1326', '1327']
('31', '30', '34') ['219', '220', '221', '1185', '1186', '1187', '1188', '1189', '1190', '1191', '1192', '1193', '1232', '1233', '1234', '1235', '1236', '1237', '1238', '1239', '1240', '1241', '1242', '1243']
('19', '38', '25', '18', '36', '40', '41', '28', '13', '32') ['222', '223', '431', '432', '433', '434', '615', '645', '1161', '1162', '1163', '1164', '1165', '1166', '1167', '1168', '1169', '1170', '1171', '1172', '1173', '1174', '1175', '1176', '1177', '1178']
('31',) ['229', '230', '349', '350', '351', '352', '353', '373', '639', '1146', '1147', '1148', '1149', '1150', '1151', '1152', '1153', '1154', '1155', '1156', '1157', '1702', '1703', '1704', '1705', '1706', '1707', '1711', '1712', '1713', '1714', '1715', '1716', '1726', '1727', '1728', '1729', '1730', '1731', '1732', '1733', '1734', '1735', '1736', '1737', '1763', '1764', '1765', '1766', '1767', '1768', '1776', '1777', '1778', '1779', '1781', '1782', '1783', '1784', '1785']
('20', '31', '30', '34') ['236', '237', '238', '239', '276', '277', '278', '279', '305', '306', '307', '308', '337', '338', '339', '340']
('23', '24', '14') ['240', '253']
('23', '24', '18', '40', '41', '13', '14') ['241', '242']
('40', '41') ['249', '284']
('23', '24', '40', '41', '14') ['259', '295']
('9', '10', '23', '19', '24', '22', '38', '25', '29', '18', '17', '36', '37', '20', '40', '41', '31', '30', '34', '42', '28', '13', '14', '32', '2') ['265', '422', '444', '445', '446', '447', '504', '561']
('14',) ['268', '341', '474', '475', '614', '1421', '1422', '1826', '1827', '1829']
('23', '24') ['271', '550', '563', '573', '576', '589']
('23', '19', '24', '38', '25', '18', '36', '40', '41', '28', '13', '14', '32') ['272', '548', '549', '604', '635', '649']
('23', '19', '24', '22', '38', '29', '18', '17', '36', '37', '40', '41', '31', '30', '34', '42') ['288']
('22', '31', '30', '34') ['292', '293']
('6',) ['315', '316']
('19', '38', '18', '36', '40', '41') ['317']
('23', '19', '24', '38', '18', '36', '40', '41') ['322']
('28', '13', '14', '32') ['325', '326']
('9', '10', '6', '23', '19', '24', '22', '38', '39', '25', '29', '18', '17', '36', '37', '20', '43', '40', '41', '31', '30', '34', '26', '42', '28', '13', '14', '32', '2') ['327', '328', '611', '650']
('6', '23', '19', '24', '22', '38', '39', '25', '29', '18', '17', '36', '37', '20', '43', '40', '41', '31', '30', '34', '26', '42') ['331']
('23', '24', '40', '41') ['332', '333']
('9', '10', '23', '19', '24', '22', '38', '25', '29', '18', '17', '36', '37', '40', '41', '31', '30', '34', '42', '28', '13', '14', '32', '2') ['342', '501']
('23',) ['345', '378', '386', '388', '389', '392', '398', '568', '1799', '1800', '1801', '1802']
('19',) ['346', '347']
('25',) ['348']
('30',) ['354', '355', '356', '357', '374', '484', '485', '486', '487', '1717', '1718', '1719', '1720', '1721', '1722', '1742', '1743', '1744', '1745', '1746', '1747', '1748', '1749', '1750', '1751', '1752', '1753', '1754', '1755', '1756', '1760', '1761', '1762', '1769', '1770', '1771', '1772', '1773', '1774']
('20',) ['363', '364', '365', '366', '367', '377', '564', '565', '617', '1439', '1440', '1441', '1442', '1443', '1444', '1674', '1675', '1676', '1677', '1678', '1679', '1696', '1697', '1698', '1699']
('22',) ['368', '369', '370', '371', '372', '375', '1775', '1780', '1786']
('24',) ['387', '390', '391', '1382', '1700', '1701', '1708', '1709', '1710', '1723', '1724', '1725', '1738', '1739', '1740', '1741', '1757', '1758', '1759', '1835', '1838', '1839', '1840']
('18', '40', '41') ['403', '404', '405', '406', '407']
('12',) ['409', '412']
('13',) ['415', '416', '417']
('23', '19', '24', '38', '25', '18', '36', '40', '41') ['423', '778', '779', '780', '781', '782', '783', '784', '785', '786', '787', '788', '789', '790', '791', '792', '793', '794', '795', '796', '797', '798', '799', '800', '801', '808', '809', '810', '811', '812', '813', '814', '815', '816', '817', '818', '819', '820', '821', '822', '823', '824', '825', '826', '827', '828', '829', '830', '831', '835', '836', '837', '838', '839', '840', '841', '842']
('27',) ['435', '436', '437', '438', '439', '440', '441', '442', '449', '450', '451', '452', '453', '517', '518', '519', '520', '521', '522', '523', '524', '536', '537', '538', '539', '597', '598', '1686', '1687', '1688', '1689', '1690', '1691', '1692', '1693', '1694', '1695']
('38', '25') ['454', '455', '456']
('8',) ['466', '467', '468', '469', '470', '471']
('23', '24', '29', '42') ['476', '483']
('36',) ['477', '478', '479']
('10', '23', '24', '29', '42', '14') ['480']
('7',) ['481', '482']
('33',) ['488', '489', '490', '491', '492', '493', '494', '495', '540', '541', '542', '543', '599', '600', '1484', '1485', '1486', '1487', '1488', '1489', '1490', '1491', '1492', '1493', '1494', '1495']
('23', '24', '29', '14') ['496', '655', '656', '657', '670', '671', '672', '886', '887', '888', '976', '977', '978']
('10', '23', '24', '29', '40', '41', '42', '14') ['500', '530', '535']
('23', '19', '24', '22', '38', '25', '29', '18', '17', '36', '37', '40', '41', '31', '30', '34', '42') ['502']
('23', '19', '24', '38', '40', '41', '28', '13', '14') ['509', '510', '511', '533', '584']
('37', '31', '30', '34') ['513', '514', '515', '516']
('19', '38', '40', '41') ['531', '532', '593', '618', '619']
('19', '40', '41') ['574', '575', '624']
('23', '19', '24', '38', '29', '43', '40', '41', '28', '13', '14') ['634']
('11', '23', '19', '24', '22', '38', '25', '29', '18', '36', '37', '40', '41', '31', '30', '34', '4', '5', '28', '13', '14', '32') ['658', '659', '660', '661', '662', '663', '664', '665', '666', '667', '668', '669', '740', '741', '742', '743', '744', '745', '746', '747', '748', '889', '890', '891', '892', '893', '894', '895', '896', '897', '898', '899', '900', '1496', '1497', '1498', '1499', '1500', '1501', '1502', '1503', '1504', '1505', '1506', '1507', '1538', '1539', '1540', '1541', '1542', '1543', '1633', '1634', '1635', '1636', '1637', '1638', '1660', '1661', '1662']
('11', '23', '24', '29', '4', '5') ['685', '1137', '1138', '1139', '1140', '1141', '1142']
('23', '24', '29', '40', '41') ['702', '703', '704', '705', '706', '707', '802', '804', '805', '806', '807']
('23', '19', '24', '22', '38', '25', '29', '18', '36', '37', '20', '40', '41', '31', '30', '34') ['708', '709', '710', '711', '712', '713', '714', '715', '716', '717', '718', '719', '720', '721', '722', '723', '724', '725', '1107']
('18',) ['727']
('11', '23', '24', '29', '40', '41', '4', '5', '14') ['728', '729', '730', '731', '732', '733', '803', '832', '833', '834', '847', '848', '849', '850', '851', '852', '901', '902', '903']
('11', '23', '19', '24', '22', '38', '25', '29', '18', '36', '37', '20', '40', '41', '31', '30', '34', '4', '5', '28', '13', '14', '32') ['734', '735', '736', '737', '738', '739', '1108', '1109', '1125', '1126', '1127', '1128', '1129', '1130', '1131', '1132', '1133', '1134', '1135', '1136', '1292', '1293', '1294', '1295', '1296', '1297', '1358', '1359', '1360', '1361', '1362', '1363', '1364', '1365', '1366', '1367', '1368', '1369', '1370', '1371', '1372', '1373', '1374', '1375', '1376', '1377', '1378', '1379', '1380', '1381', '1387', '1388', '1389', '1390', '1391', '1392', '1393', '1394', '1395', '1396', '1425', '1426', '1427', '1428', '1429', '1430', '1431', '1432', '1433', '1434', '1550', '1551', '1552', '1553', '1554', '1555', '1787', '1809', '1810', '1811', '1812', '1819', '1820', '1821', '1822']
('4',) ['749', '750', '751', '752', '1823', '1830']
('5',) ['753']
('32',) ['754', '755', '756', '757', '758', '759', '1824', '1825', '1828', '1831', '1832', '1833']
('1',) ['929', '930', '932', '933']
('11', '23', '24', '29', '4', '5', '14') ['934', '935', '936', '979', '980', '1064', '1158', '1159', '1160']
('11',) ['949', '950', '951', '952', '953', '954', '955', '956', '957']
('3', '35') ['958', '966']
('35',) ['959', '967', '969']
('3',) ['960', '961', '962', '963', '964', '965', '968', '970', '971', '972', '973', '974', '975']
('23', '19', '24', '38', '29', '40', '41', '28', '13', '14') ['993', '994', '995', '996', '997', '998', '999', '1000', '1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010', '1011', '1012', '1013', '1014', '1298', '1299', '1300', '1301', '1302', '1303', '1304', '1305', '1306', '1307', '1308', '1309', '1397', '1398', '1399', '1400', '1401', '1402', '1435', '1436', '1437', '1438', '1468', '1469', '1470', '1471', '1472', '1473', '1474', '1475', '1476', '1477', '1478', '1479', '1480', '1481', '1482', '1483', '1512', '1513', '1514', '1515', '1516', '1517', '1518', '1519', '1520', '1521', '1522', '1523', '1524', '1525', '1526', '1527', '1533', '1534', '1535', '1536', '1537', '1544', '1545', '1546', '1547', '1548', '1549', '1561', '1562', '1563', '1564', '1587', '1588', '1589', '1590', '1591', '1592', '1593', '1594', '1595', '1596', '1597', '1598', '1607', '1608', '1609', '1610', '1611', '1612', '1613', '1614', '1615', '1616', '1627', '1628', '1629', '1630', '1631', '1632', '1639', '1640', '1641', '1642', '1643', '1644', '1645', '1656', '1657', '1658', '1659', '1670', '1671', '1672', '1673', '1680', '1681', '1682', '1683', '1684', '1685']
('23', '24', '29', '40', '41', '14') ['1019', '1020', '1021', '1034', '1035', '1036', '1037', '1038', '1039', '1065', '1066', '1067', '1068', '1069', '1070', '1122', '1123', '1124', '1143', '1144', '1145', '1289', '1290', '1291', '1383', '1384', '1385', '1386', '1423', '1424', '1508', '1509', '1510', '1511', '1528', '1529', '1530', '1531', '1532', '1556', '1557', '1558', '1559', '1560']
('11', '23', '19', '24', '22', '38', '25', '29', '18', '36', '37', '20', '43', '40', '41', '31', '30', '34', '4', '5', '28', '13', '14', '32') ['1096', '1097', '1098', '1310', '1311', '1312', '1313', '1314', '1315', '1340', '1341', '1342', '1343', '1344', '1345', '1346', '1347', '1348', '1349', '1350', '1351', '1352', '1353', '1354', '1355', '1356', '1357']
('11', '23', '19', '24', '22', '38', '29', '18', '36', '37', '40', '41', '31', '30', '34', '4', '5', '28', '14', '32') ['1197', '1198', '1199', '1203', '1204', '1205', '1206', '1207', '1208', '1209', '1210', '1211', '1218', '1219', '1220', '1221', '1222', '1223', '1224', '1225', '1253', '1254', '1255', '1256', '1258', '1262', '1263', '1264', '1328', '1329', '1330', '1331', '1332', '1333']
('16',) ['1445', '1446', '1447', '1448', '1449', '1450', '1451', '1452', '1453', '1454', '1455']
('15',) ['1456', '1457', '1458', '1459', '1460', '1461', '1462', '1463', '1464', '1465', '1466', '1467']
('44',) ['1606']

In [162]:
#for index, row in df_courses.iterrows():
#   print(row["CourseId"], row["ConfigIdList"])
c = 0
dic = {}
for index, row in df_subparts.iterrows():
    #print(row["SubpartId"], row["ClassIdList"])
    if len(row["ClassIdList"]) not in dic.keys():
        dic[len(row["ClassIdList"])] = [1, [row["SubpartId"]]]
    else:
        dic[len(row["ClassIdList"])][1].append(row["SubpartId"])
        dic[len(row["ClassIdList"])][0]+=1


print("Cantidad de clases en una subparte | Cantidad de veces que se repite en las subpartes | Lista de clases")
for i in dic:
    print(i, dic[i])

Cantidad de clases en una subparte | Cantidad de veces que se repite en las subpartes
1 [881, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '11', '13', '15', '17', '20', '23', '25', '27', '28', '29', '30', '31', '33', '36', '38', '39', '42', '43', '45', '47', '49', '54', '56', '58', '60', '61', '62', '63', '64', '65', '66', '67', '68', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '86', '87', '88', '89', '92', '93', '94', '95', '96', '99', '100', '101', '102', '103', '104', '105', '106', '108', '109', '110', '112', '113', '114', '116', '118', '119', '120', '121', '122', '123', '125', '126', '128', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '141', '142', '143', '144', '145', '146', '147', '148', '149', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '168', '169', '170', '172', '173', '174', '175', '176', '177', '178', '179', '181', '182', '183', '184', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '201', '202', '203', '204', '205', '206', '207', '208', '209', '210', '211', '212', '213', '214', '215', '216', '217', '218', '219', '220', '221', '222', '223', '224', '225', '226', '227', '228', '229', '230', '231', '232', '233', '234', '235', '236', '237', '238', '239', '240', '241', '242', '243', '244', '246', '248', '249', '251', '253', '255', '257', '258', '259', '261', '264', '266', '269', '271', '272', '273', '274', '275', '277', '279', '281', '283', '286', '288', '290', '292', '293', '295', '300', '302', '303', '304', '308', '309', '310', '312', '313', '314', '315', '316', '318', '320', '323', '325', '326', '327', '329', '332', '333', '334', '335', '336', '337', '338', '340', '341', '342', '343', '344', '348', '350', '351', '352', '353', '354', '355', '356', '357', '358', '359', '360', '361', '363', '364', '365', '366', '367', '368', '369', '370', '372', '373', '374', '375', '376', '377', '378', '379', '380', '381', '382', '383', '384', '385', '386', '387', '388', '389', '390', '391', '392', '393', '394', '395', '396', '397', '398', '399', '406', '407', '408', '415', '420', '421', '422', '423', '424', '425', '435', '436', '437', '438', '439', '440', '441', '442', '446', '447', '448', '449', '450', '451', '452', '453', '454', '455', '456', '457', '458', '459', '466', '467', '468', '469', '470', '471', '478', '479', '480', '481', '482', '483', '490', '491', '492', '499', '500', '501', '502', '503', '504', '514', '515', '516', '517', '518', '519', '520', '521', '522', '523', '524', '525', '532', '533', '534', '541', '542', '543', '544', '545', '546', '547', '548', '549', '550', '551', '552', '553', '554', '555', '556', '557', '558', '559', '560', '561', '568', '569', '570', '571', '572', '573', '574', '575', '576', '586', '587', '588', '589', '590', '597', '598', '599', '600', '601', '602', '603', '604', '605', '606', '607', '608', '609', '610', '611', '612', '613', '614', '615', '616', '617', '618', '619', '620', '621', '622', '623', '624', '625', '632', '633', '634', '635', '636', '637', '644', '645', '646', '647', '648', '649', '650', '660', '661', '662', '669', '670', '671', '678', '679', '680', '681', '682', '683', '684', '685', '686', '693', '694', '695', '702', '703', '704', '705', '706', '707', '708', '709', '710', '714', '715', '716', '717', '718', '719', '720', '721', '722', '723', '724', '725', '726', '727', '728', '729', '730', '731', '732', '733', '734', '735', '736', '737', '738', '739', '740', '741', '742', '743', '744', '745', '746', '747', '748', '749', '750', '751', '758', '759', '760', '761', '762', '763', '764', '765', '766', '767', '768', '769', '770', '771', '772', '773', '774', '775', '776', '777', '778', '779', '780', '781', '782', '783', '784', '791', '792', '793', '794', '795', '796', '797', '798', '799', '809', '810', '811', '812', '813', '814', '815', '816', '817', '818', '819', '820', '821', '822', '823', '824', '825', '826', '827', '828', '829', '830', '831', '832', '833', '834', '835', '836', '837', '838', '854', '855', '856', '857', '858', '859', '860', '861', '862', '863', '864', '865', '866', '867', '868', '869', '870', '876', '877', '878', '879', '880', '881', '891', '892', '893', '894', '900', '901', '902', '903', '904', '905', '906', '907', '908', '909', '910', '911', '912', '913', '914', '915', '916', '917', '918', '919', '920', '921', '922', '923', '924', '925', '926', '927', '928', '929', '930', '931', '932', '933', '934', '935', '936', '937', '938', '939', '940', '941', '942', '943', '944', '945', '946', '947', '948', '955', '956', '957', '958', '959', '960', '961', '962', '963', '964', '965', '966', '967', '968', '969', '970', '976', '977', '978', '979', '980', '981', '982', '983', '984', '985', '986', '987', '988', '989', '990', '991', '992', '993', '994', '995', '996', '997', '998', '999', '1000', '1001', '1002', '1003', '1004', '1005', '1006', '1007', '1008', '1009', '1010', '1011', '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019', '1020', '1021', '1022', '1036', '1037', '1038', '1039', '1040', '1041', '1042', '1043', '1044', '1045', '1046', '1047', '1048', '1049', '1050', '1051', '1052', '1053', '1054', '1055', '1056', '1057', '1058', '1059', '1060', '1061', '1062', '1063', '1064', '1065', '1066', '1067', '1068', '1069', '1070', '1071', '1072', '1073', '1074', '1075', '1076', '1077', '1078', '1079', '1080', '1081', '1082', '1083', '1084', '1085', '1086', '1087', '1088', '1089', '1090', '1091', '1092', '1093', '1094', '1095', '1096', '1097', '1098', '1099', '1100', '1101', '1102', '1103', '1104', '1105', '1106', '1107', '1108', '1109', '1110', '1111', '1112', '1113', '1114', '1115', '1116', '1117', '1118', '1119', '1120', '1121', '1122', '1123', '1124', '1125', '1126', '1132', '1133', '1134', '1135', '1136', '1137', '1140', '1141', '1142', '1147', '1148', '1149', '1154', '1155', '1156', '1157', '1163', '1164', '1165', '1171', '1172', '1173', '1174', '1175', '1176', '1177', '1178', '1179', '1180', '1181', '1182', '1183', '1184', '1185', '1186', '1187', '1188', '1189', '1190', '1191', '1192', '1193', '1194', '1195', '1196', '1197', '1198', '1199', '1200', '1201', '1202', '1203', '1204', '1206', '1207', '1208', '1209', '1210', '1211', '1213', '1215', '1217', '1218', '1219', '1220', '1221', '1222', '1223']]
6 [6, ['10', '37', '41', '48', '276', '1214']]
4 [50, ['12', '26', '46', '262', '265', '284', '296', '305', '306', '307', '331', '416', '417', '418', '419', '463', '464', '465', '472', '473', '474', '475', '476', '477', '484', '485', '486', '487', '488', '489', '511', '512', '513', '638', '639', '640', '641', '642', '643', '651', '652', '653', '654', '655', '656', '657', '658', '659', '1205', '1212']]
12 [3, ['14', '40', '1224']]
10 [5, ['16', '19', '22', '32', '35']]
5 [11, ['18', '21', '34', '44', '51', '52', '245', '250', '252', '260', '267']]
3 [40, ['24', '50', '200', '254', '256', '268', '270', '278', '280', '287', '291', '294', '298', '696', '697', '698', '699', '700', '701', '1138', '1139', '1143', '1144', '1145', '1146', '1150', '1151', '1152', '1153', '1158', '1159', '1160', '1161', '1162', '1166', '1167', '1168', '1169', '1170', '1216']]
2 [225, ['53', '55', '57', '59', '69', '85', '90', '91', '97', '98', '107', '111', '115', '117', '124', '127', '129', '140', '150', '167', '171', '180', '247', '282', '289', '299', '301', '311', '317', '319', '321', '322', '324', '328', '330', '339', '345', '346', '347', '349', '362', '371', '400', '401', '402', '403', '404', '405', '409', '410', '411', '412', '413', '414', '426', '427', '428', '429', '430', '431', '432', '433', '434', '443', '444', '445', '460', '461', '462', '493', '494', '495', '496', '497', '498', '505', '506', '507', '508', '509', '510', '526', '527', '528', '529', '530', '531', '535', '536', '537', '538', '539', '540', '562', '563', '564', '565', '566', '567', '577', '578', '579', '580', '581', '582', '583', '584', '585', '591', '592', '593', '594', '595', '596', '626', '627', '628', '629', '630', '631', '663', '664', '665', '666', '667', '668', '672', '673', '674', '675', '676', '677', '687', '688', '689', '690', '691', '692', '711', '712', '713', '752', '753', '754', '755', '756', '757', '785', '786', '787', '788', '789', '790', '800', '801', '802', '803', '804', '805', '806', '807', '808', '839', '840', '841', '842', '843', '844', '845', '846', '847', '848', '849', '850', '851', '852', '853', '871', '872', '873', '874', '875', '882', '883', '884', '885', '886', '887', '888', '889', '890', '895', '896', '897', '898', '899', '949', '950', '951', '952', '953', '954', '971', '972', '973', '974', '975', '1023', '1024', '1025', '1026', '1027', '1028', '1029', '1030', '1031', '1032', '1033', '1034', '1035', '1127', '1128', '1129', '1130', '1131']]
8 [3, ['263', '285', '297']]

In [2]:
import pandas as pd
import xml.etree.ElementTree as etree

tree = etree.parse("solution-tg-fal17.xml")
root = tree.getroot()

columns_sol = ["ClassId", "Days", "Start", "Weeks", "Room"]

df_sol = pd.DataFrame(columns = columns_sol)

for clase in root:

SyntaxError: unexpected EOF while parsing (<ipython-input-2-2edd5ad0955c>, line 12)

Analisis de datos

In [6]:
## Duracion en slots de clases:

df_relation_class_time["TimeLength"] = df_relation_class_time["TimeLength"].astype(int)
print("Promedio:")
display(df_relation_class_time["TimeLength"].mean())
print("Min:")
display(df_relation_class_time["TimeLength"].min())
print("Max:")
display(df_relation_class_time["TimeLength"].max())
print("Slots de tiempo | Cantidad de cursos que duran esos slots")
dic={}
list=[]
for index, row in df_relation_class_time.iterrows():
    #print(row["ClassId"], row["TimeLength"])
    if row["TimeLength"] not in dic.keys():
        dic[row["TimeLength"]] = [0,[]]
    if row["ClassId"] not in dic[row["TimeLength"]][1]:
        #print(row["TimeLength"],row["ClassId"], dic[row["TimeLength"]][1])
        dic[row["TimeLength"]][0]+=1
        dic[row["TimeLength"]][1].append(row["ClassId"])
c= 0
for i in dic:
    print(i, dic[i][0])
    c += dic[i][0]
print("Total",c)
print("Tiempo de inicio")
#print(df_relation_class_time["TimeStart"], df_relation_class_time["ClassId"])
x = df_relation_class_time.groupby("TimeStart").count()
display(x)
#for index, row in x.iterrows():
#    print(row)
print("9.50, 10.00, 10.41, 11.30, 12.25, 13.00, 13.66, 14.00, 14.91, 15.83, 16.75")
print("counts")
display(df_relation_class_time["TimeLength"].value_counts())
print("Mediana:")
display(df_relation_class_time["TimeLength"].median())
print("Cuartiles:")
display(df_relation_class_time["TimeLength"].quantile([0, 0.25, 0.5, 0.75, 1]))
print("Var:")
display(df_relation_class_time["TimeLength"].var())
print("Std:")
display(df_relation_class_time["TimeLength"].std())

Promedio:

22.044592538624723

Min:

9

Max:

144

Slots de tiempo | Cantidad de cursos que duran esos slots
18 909
144 13
96 1
36 22
9 20
27 811
24 33
48 1
72 1
88 3
98 4
90 1
124 4
120 8
82 7
100 11
16 1
70 1
26 1
Total 1852
Tiempo de inicio

           ClassId  TimeDays  TimeLength  TimeWeeks  TimePenalty
TimeStart
102             10        10          10         10           10
105             10        10          10         10           10
106           3042      3042        3042       3042         3042
108             10        10          10         10           10
111             12        12          12         12           12
...            ...       ...         ...        ...          ...
246           1613      1613        1613       1613         1613
256              6         6           6          6            6
93              10        10          10         10           10
96            3138      3138        3138       3138         3138
99              10        10          10         10           10

[64 rows x 5 columns]

9.50, 10.00, 10.41, 11.30, 12.25, 13.00, 13.66, 14.00, 14.91, 15.83, 16.75
counts

18     26008
27     20446
9        101
24        33
36        22
144       13
100       11
120        8
82         7
98         4
124        4
88         3
16         1
48         1
72         1
70         1
26         1
90         1
96         1
Name: TimeLength, dtype: int64

Mediana:

18.0

Cuartiles:

0.00      9.0
0.25     18.0
0.50     18.0
0.75     27.0
1.00    144.0
Name: TimeLength, dtype: float64

Var:

30.098277180969482

Std:

5.486189677815513

In [2]:
## Disponibilidad de salas:

for index, row in df_rooms.iterrows():
    print(row["RoomId"], row["UnavailableDaysList"])
    #if row["UnavailableDaysList"] is None:
    #    print(row["RoomId"], row["UnavailableDaysList"])

1 ['1000000', '0100000', '0100000', '0010000', '0001000', '0001000', '0000100', '0000010', '0000001']
2 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001']
3 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
4 ['0000100', '0000010', '0000010', '0000001', '0000001', '1000000', '1000000', '0100000', '0001000', '0000100', '0000100', '0000100', '0000100', '0000100', '0000010', '0000010', '0000010', '0000010', '0000001', '0000001', '0000001', '0000001', '0000001']
5 ['0000100', '0000010', '0000010', '0000001', '0000001', '0100000', '0010000', '0000100', '0000100', '0000100', '0000100', '0000010', '0000010', '0000010', '0000010', '0000001']
6 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
7 ['1000000', '0100000', '0010000', '0010000', '0001000', '0000100', '0000010', '0000001']
8 ['1000000', '1000000', '1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
9 ['1000000', '1000000', '0100000', '0010000', '0001000', '0001000', '0000100', '0000100', '0000010', '0000001']
10 ['1000000', '1000000', '0100000', '0100000', '0010000', '0010000', '0001000', '0000100']
11 ['1000000', '0100000', '0010000', '0010000', '0001000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
12 ['1000000', '0100000', '0010000', '0001000', '0001000', '0000100', '0000100', '0000010', '0000001']
13 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
14 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
15 ['1000000', '0100000', '0010000', '0001000', '0000100']
16 ['1000000', '0100000', '0010000', '0001000', '0000100']
17 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
18 ['1000000', '1000000', '0100000', '0100000', '0010000', '0010000', '0001000', '0001000', '0000100', '0000100', '0000010', '0000010', '0000001', '0000001']
19 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
20 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
21 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
22 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
23 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
24 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
25 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
26 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
27 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
28 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
29 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
30 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
31 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
32 ['1000000', '0100000', '0010000', '0010000', '0001000', '0000100', '0000010', '0000001']
33 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
34 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
35 ['1000000', '0100000', '0010000', '0001000', '0001000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
36 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
37 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
38 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
39 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
40 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
41 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000001']
42 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001', '0000001']
43 None
44 ['1000000', '0100000', '0010000', '0001000', '0000100', '0000010', '0000010', '0000001']

In [8]:
## Variabilidad de clases:

#for index, row in df_relation_class_time.iterrows():
#    print(row["ClassId"], row["TimeDays"])
display(df_relation_class_time["ClassId"].value_counts())

400     520
628     160
593     160
629     160
311     128
       ...
168       1
726       1
1815      1
365       1
1777      1
Name: ClassId, Length: 1852, dtype: int64

In [11]:
##Agrupar capacidad de salas


print("Capacidad | Cantidad de Salas")
display(df_rooms.groupby("Capacity").count()["RoomId"])

Capacidad | Cantidad de Salas

Capacity
120     1
140     1
15      9
180     2
240     1
25      1
28      2
29      1
30     13
35      3
42      3
45      1
70      1
90      3
94      1
96      1
Name: RoomId, dtype: int64

In [98]:
##Agrupar capacidad de clases
print("Límite de las clases | Cantidad de clases con el límite")
display(df_classes.groupby("ClassLimit").count()["ClassId"])

Límite de las clases | Cantidad de clases con el límite

ClassLimit
10     495
100     12
20      70
24      45
35      28
56      33
95      28
Name: ClassId, dtype: int64